@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: linear-gradient(236.85deg, #ce6a85 27.26%, #985277 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  background: #232324;
  color: #ffffff;
  margin: 70px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #4d0028;
  padding: 70px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  text-transform: uppercase;
  margin-left: 20px;
}

.infos {
  padding: 8px 16px;
  text-transform: none;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 16px;
}

.tema button {
  align-self: flex-end;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 16px;
  background: #232324;
  color: #ffffff;
  border: 1px solid #595959;
  box-sizing: border-box;
  border-radius: 100px;
}

.portfolio {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.projetos {
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  padding: 8px 32px;
  background: linear-gradient(230.65deg, #fcb692 27.49%, #ff8c61 83.19%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.conquistas {
  height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 32px;
  background: linear-gradient(230.65deg, #fcb692 27.49%, #ff8c61 83.19%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {
  list-style-type: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.projetos-item a {
  color: #1c1c1c;
  text-decoration: none;
}

.conquistas ul {
  list-style: none;
  padding-left: 0;
  font-weight: 700;
  font-size: 24px;
}

.conquistas li {
  list-style-type: none;
}

.conquistas img {
  max-height: 100px;
}

.light {
  background: linear-gradient(236.85deg, #c6d8af 27.26%, #a6bf86 96.03%);
}

.light .container {
  background: #fff2f2;
  color: #1c1c1c;
  box-shadow: 6px 6px 6px #636363;
}

.light .projetos {
  color: #1c1c1c;
  background: linear-gradient(230.65deg, #fcc8b2 27.49%, #efa48b 83.19%);
}

.light .tema button {
  background: #fff2f2;
  color: #1c1c1c;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border: 1.8px solid #1c1c1c;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ecf4ff;
}

::-webkit-scrollbar-track {
  background: #ecf4ff;
  border-radius: 100px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
  margin: 15px 0px;
}